# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
dist/
build/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Flask stuff:
instance/
.webassets-cache
.pytest_cache/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# dotenv
.env

# Pyre type checker
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pylintrc
pylintrc

# macOS
.DS_Store

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# System files
*.swp
*~
*.swo
*.orig
*.bak
*.tmp